<div class="header">
    <img src="assets/images/inbox/header.png" />
</div>
<table>
    <tr>
        <td>
            <img src="assets/images/inbox/pub1photo.png" />        
        </td>
        <td class="tdclass">
            <img src="assets/images/inbox/pub1content.png" class="tdbackground"/>
            <div class="tdtext">
                <img src="assets/images/inbox/pub1contenttxt.png"/>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/images/inbox/pub2photo.png" />        
        </td>
        <td class="tdclass">
            <img src="assets/images/inbox/pub2content.png" class="tdbackground"/>
            <div class="tdtext">
                <img src="assets/images/inbox/pub2contenttxt.png"/>
            </div>
        </td>
    </tr>
</table>    