.header {
    width: 100%;
}

.header img {
    width: 100%;
}

table {
    width: 100%;
    padding: 10px 5px 0px 30px;
}

table img {
    width: 100%;
}

.tdclass {
    position: relative;
}

.tdbackground {
    position: absolute;
    top: 5px;
}

.tdtext {
    position: relative;
    padding: 5px;
}
