<div class="header">
    <img src="assets/images/inbox/header.png" />
</div>
<!-- <table>
    <tr>
        <td>
            <img src="assets/images/inbox/pub1photo.png" />        
        </td>
        <td>
            <img src="assets/images/inbox/pub1content.png" />            
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/images/inbox/pub2photo.png" />        
        </td>
        <td>
            <img src="assets/images/inbox/pub2content.png" />    
        </td>
    </tr>
</table>     -->