mat-sidenav {
    background-color: rgba(67,66,93,1);
}

mat-sidenav-container {
    height: 100vh;
    width: 100%;
}

mat-sidenav {
    width: 20%;
}

.matlist-icon {
    float: left;
    width: 10%;
}

.matlist-text {
    float: left;
    width: 90%;
    padding-left: 20px;
}

.active-list-item {
    background-color: rgb(71, 93, 66) !important;
}

.active-list-item path {
    fill: rgba(163,160,251,1) !important;
}

.active-list-item span {
    color: white;
}