<div class="header">
    <img src="assets/images/inbox/header.png" />
</div>
<table>
    <tr>
        <td class="tdimage">
            <img src="assets/images/inbox/pub1photo.png" />        
        </td>
        <td class="tdcontent">
            <img src="assets/images/inbox/pub1content.png" class="tdbackground"/>
            <div class="tdtext">
                <span>
                    objet :Avis debut des travaux de remise en peinture du hall A
                    <br/>
                    Madame, monsieur J'ai le plaisir de vous informer que conformément à la décision de l'assemblé générale
                    <br/>
                    pour les communs b et c de la résidence Titanic, les travaux débuteront le 15/mars/2029 à 10h!
                    <br/>
                    publier par les gestionaire Mario B: le1/2/2019.
                </span>
            </div>
        </td>
    </tr>

    <tr>
        <td class="tdimage">
            <img src="assets/images/inbox/pub2photo.png" />        
        </td>
        <td class="tdcontent">
            <img src="assets/images/inbox/pub2content.png" class="tdbackground"/>
            <div class="tdtext">
                <span>
                    Monsieur en tant que membre de la copropriétaire ,je tiens à vous attirer votre attention
                    <br/>
                    concernant une infiltration d'eau dans les escaliers commun du 3 -ème etage!
                    <br/>
                    J'ai remarqué depuis plusieurs jours une tache noire, champignons venant du plafond !
                    <br/>
                    Publier par madame Petit le 2/1/2020.
                </span>
            </div>
        </td>
    </tr>
    
    <tr *ngFor="let pub of this.publications">
        <td class="tdimage">
            <img [src]="pub.PhotoUrl" />        
        </td>
        <td class="tdcontent">
            <img src="assets/images/inbox/pub2content.png" class="tdbackground"/>
            <div class="tdtext">
                <span>
                    {{pub.TextContent}}
                </span>
            </div>
        </td>        
    </tr>
</table>
<div class="footer">
    <button mat-flat-button (click)="addPublicationBtnClicked()">Publication</button>
</div>
