.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920___1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920___1 {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1509px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-enable-deep-linking: true;
}
#Chat {
    position: absolute;
    width: 375px;
    height: 590px;
    left: 0px;
    top: 83px;
    overflow: visible;
}
#Message {
    position: absolute;
    width: 327px;
    height: 108px;
    left: 10px;
    top: 99px;
    overflow: visible;
}
#Excepteur_sint_occaecat_cupida {
    position: absolute;
    left: 48px;
    top: 44px;
    overflow: hidden;
    width: 258px;
    height: 64px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Name_Surname {
    position: absolute;
    left: 48px;
    top: 12px;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#ID2h {
    position: absolute;
    left: 311px;
    top: 11px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: right;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Symbole_216___1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_234 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.Union_44 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
}
#Message_A0_Group_3 {
    position: absolute;
    width: 327px;
    height: 60px;
    left: 10px;
    top: 235px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet__co {
    position: absolute;
    left: 48px;
    top: 44px;
    overflow: hidden;
    width: 258px;
    height: 16px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#John_Doe {
    position: absolute;
    left: 48px;
    top: 12px;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#ID1h {
    position: absolute;
    left: 311px;
    top: 11px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: right;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Symbole_216___2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_234_A0_Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.Union_44_A0_BooleanGroup_2 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
}
#Message_A0_Group_4 {
    position: absolute;
    width: 327px;
    height: 60px;
    left: 10px;
    top: 323px;
    overflow: visible;
}
#Ok_ {
    position: absolute;
    left: 48px;
    top: 44px;
    overflow: hidden;
    width: 258px;
    height: 16px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Name_Surname_A0_Text_8 {
    position: absolute;
    left: 48px;
    top: 12px;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#ID5m {
    position: absolute;
    left: 308px;
    top: 11px;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    text-align: right;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Symbole_216___3 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_234_A0_Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.Union_44_A0_BooleanGroup_3 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    transform: matrix(1,0,0,1,0,0);
}
#persone {
    position: absolute;
    width: 327px;
    height: 66px;
    left: 10px;
    top: 0px;
    overflow: visible;
}
.Rectangle_345 {
    position: absolute;
    overflow: visible;
    width: 327px;
    height: 66px;
    left: 0px;
    top: 0px;
}
#Group_19 {
    position: absolute;
    width: 169px;
    height: 33px;
    left: 27px;
    top: 15px;
    overflow: visible;
}
#Chat_with_Name_Surname {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Online {
    position: absolute;
    left: 0px;
    top: 22px;
    overflow: visible;
    width: 30px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(38,153,251,1);
}
#Symbole_156___1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 296px;
    top: 27px;
    overflow: visible;
}
.Path_36 {
    overflow: visible;
    position: absolute;
    width: 9.4px;
    height: 6.1px;
    left: 0px;
    top: 2px;
    transform: matrix(1,0,0,1,0,0);
}
.Rectangle_1467 {
    position: absolute;
    overflow: visible;
    width: 10px;
    height: 10px;
    left: 0px;
    top: 0px;
}
#input {
    position: absolute;
    width: 375px;
    height: 198px;
    left: 0px;
    top: 392px;
    overflow: visible;
}
.Rectangle_346 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 56px;
    left: 0px;
    top: 0px;
}
#Say_something_ {
    position: absolute;
    left: 16px;
    top: 161px;
    overflow: visible;
    width: 252px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    color: rgba(38,153,251,1);
}
#Symbole_71___1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 333px;
    top: 179.999px;
    overflow: visible;
}
.Rectangle_1445 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
}
.Union_3 {
    overflow: visible;
    position: absolute;
    width: 15.556px;
    height: 15.557px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Create_a_Group {
    position: absolute;
    width: 388px;
    height: 70px;
    left: 13px;
    top: 734px;
    overflow: visible;
}
#Friends {
    position: absolute;
    width: 388px;
    height: 70px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_125 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.Union_16 {
    overflow: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 12.5px;
    top: 11.25px;
    transform: matrix(1,0,0,1,0,0);
}
#John {
    position: absolute;
    left: 6px;
    top: 56px;
    overflow: visible;
    width: 29px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -6px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38,153,251,1);
}
.Ellipse_127 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 87px;
    top: 0px;
}
.Union_17 {
    overflow: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 101.546px;
    top: 11.25px;
    transform: matrix(1,0,0,1,0,0);
}
#Maria {
    position: absolute;
    left: 92px;
    top: 56px;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -6px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38,153,251,1);
}
.Ellipse_129 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 174px;
    top: 0px;
}
.Union_18 {
    overflow: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 186.5px;
    top: 11.25px;
    transform: matrix(1,0,0,1,0,0);
}
#Lina {
    position: absolute;
    left: 182px;
    top: 56px;
    overflow: visible;
    width: 25px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -6px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38,153,251,1);
}
.Ellipse_131 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 261px;
    top: 0px;
}
.Union_19 {
    overflow: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 271.454px;
    top: 11.25px;
    transform: matrix(1,0,0,1,0,0);
}
#Mom {
    position: absolute;
    left: 266px;
    top: 56px;
    overflow: visible;
    width: 29px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -6px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38,153,251,1);
}
#_ {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 348px;
    top: 0px;
    overflow: visible;
}
.Ellipse_133 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#Symbole_14___1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    overflow: visible;
}
.Union_1 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Post {
    position: absolute;
    width: 727px;
    height: 651px;
    left: 0px;
    top: 83px;
    overflow: visible;
}
.Base {
    position: absolute;
    overflow: visible;
    width: 343px;
    height: 651px;
    left: 384px;
    top: 0px;
}
#Name {
    position: absolute;
    width: 246px;
    height: 28px;
    left: 449px;
    top: 572px;
    overflow: visible;
}
#Say_something {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(38,153,251,1);
}
#Symbole_25___1 {
    position: absolute;
    width: 3px;
    height: 15px;
    left: 243px;
    top: 12px;
    overflow: visible;
}
.Union_1_A0_BooleanGroup_10 {
    overflow: visible;
    position: absolute;
    width: 3px;
    height: 15px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#LOREM_IPSUM {
    position: absolute;
    left: 416px;
    top: 32px;
    overflow: visible;
    width: 100px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(38,153,251,1);
}
#Symbole_105___1 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 0px;
    top: 311px;
    overflow: visible;
}
.Ellipse_96 {
    position: absolute;
    overflow: visible;
    width: 56px;
    height: 56px;
    left: 0px;
    top: 0px;
}
#Symbole_6___1 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 20px;
    overflow: visible;
}
.Union_1_A0_BooleanGroup_11 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Nous_soussign_s__copropri_tair {
    position: absolute;
    left: 393px;
    top: 192px;
    overflow: hidden;
    width: 301px;
    height: 300px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#Objet___convocation_de_l_AG_de {
    position: absolute;
    left: 393px;
    top: 91px;
    overflow: hidden;
    width: 301px;
    height: 300px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#Symbole_105___2 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1px;
    top: 174px;
    overflow: visible;
}
.Ellipse_96_A0_Ellipse_10 {
    position: absolute;
    overflow: visible;
    width: 56px;
    height: 56px;
    left: 0px;
    top: 0px;
}
#Symbole_6___1_A0_Component_11 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 20px;
    overflow: visible;
}
.Union_1_A0_BooleanGroup_12 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Date_Range_Picker__4_ {
    position: absolute;
    width: 782px;
    height: 466px;
    left: 721px;
    top: 66px;
    overflow: visible;
}
.BG {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
    position: absolute;
    overflow: visible;
    width: 782px;
    height: 466px;
    left: 9px;
    top: 7px;
}
#Date_Range_Picker {
    position: absolute;
    left: 29px;
    top: 27px;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(77,79,92,1);
}
#January {
    position: absolute;
    width: 329.548px;
    height: 309px;
    left: 49.265px;
    top: 82px;
    overflow: visible;
}
#January_2018 {
    position: absolute;
    left: 120.735px;
    top: 0px;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#days {
    position: absolute;
    width: 329.548px;
    height: 30.567px;
    left: 0px;
    top: 50px;
    overflow: visible;
}
#Su {
    position: absolute;
    left: 17.735px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Mo {
    position: absolute;
    left: 61.735px;
    top: 0px;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Tu {
    position: absolute;
    left: 112.735px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#We {
    position: absolute;
    left: 157.735px;
    top: 0px;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Th {
    position: absolute;
    left: 207.735px;
    top: 0px;
    overflow: visible;
    width: 19px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Fr {
    position: absolute;
    left: 254.735px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Sa {
    position: absolute;
    left: 298.735px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
.Path_295 {
    overflow: visible;
    position: absolute;
    width: 329.548px;
    height: 1px;
    left: 0px;
    top: 30.567px;
    transform: matrix(1,0,0,1,0,0);
}
#date {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 66.735px;
    top: 100px;
    overflow: visible;
}
#ID1 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_16 {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 99.735px;
    top: 91px;
    overflow: visible;
}
#Ellipse_34 {
    opacity: 0.2;
}
.Ellipse_34 {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 36px;
    left: 0px;
    top: 0px;
}
#ID2 {
    position: absolute;
    left: 14px;
    top: 9px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(59,134,255,1);
}
#date_A0_Group_17 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 160.735px;
    top: 100px;
    overflow: visible;
}
#ID3 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_18 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 207.735px;
    top: 100px;
    overflow: visible;
}
#ID4 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_19 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 254.735px;
    top: 100px;
    overflow: visible;
}
#ID5 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_20 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 301.735px;
    top: 100px;
    overflow: visible;
}
#ID6 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_21 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 66.735px;
    top: 147px;
    overflow: visible;
}
#ID8 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_22 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 19.735px;
    top: 147px;
    overflow: visible;
}
#ID7 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_23 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 113.735px;
    top: 147px;
    overflow: visible;
}
#ID9 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_24 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 147px;
    overflow: visible;
}
#ID10 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_25 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 204.735px;
    top: 147px;
    overflow: visible;
}
#ID11 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_26 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 251.735px;
    top: 147px;
    overflow: visible;
}
#ID12 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_27 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 298.735px;
    top: 147px;
    overflow: visible;
}
#ID13 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_28 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 63.735px;
    top: 194px;
    overflow: visible;
}
#ID15 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_29 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 63.735px;
    top: 241px;
    overflow: visible;
}
#ID22 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_30 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 63.735px;
    top: 288px;
    overflow: visible;
}
#ID29 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_31 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 16.735px;
    top: 194px;
    overflow: visible;
}
#ID14 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_32 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 16.735px;
    top: 241px;
    overflow: visible;
}
#ID21 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_33 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 16.735px;
    top: 288px;
    overflow: visible;
}
#ID28 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_34 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 110.735px;
    top: 194px;
    overflow: visible;
}
#ID16 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_35 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 110.735px;
    top: 241px;
    overflow: visible;
}
#ID23 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_36 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 110.735px;
    top: 288px;
    overflow: visible;
}
#ID30 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_37 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 194px;
    overflow: visible;
}
#ID17 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_38 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 241px;
    overflow: visible;
}
#ID24 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_39 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 288px;
    overflow: visible;
}
#ID31 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_40 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 204.735px;
    top: 194px;
    overflow: visible;
}
#ID18 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_41 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 204.735px;
    top: 241px;
    overflow: visible;
}
#ID25 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_42 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 251.735px;
    top: 194px;
    overflow: visible;
}
#ID19 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_43 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 251.735px;
    top: 241px;
    overflow: visible;
}
#ID26 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_44 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 298.735px;
    top: 194px;
    overflow: visible;
}
#ID20 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_45 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 298.735px;
    top: 241px;
    overflow: visible;
}
#ID27 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#previous {
    position: absolute;
    width: 7.567px;
    height: 12.934px;
    left: 33.5px;
    top: 88.165px;
    overflow: visible;
}
.Rectangle_156 {
    display: none;
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
    left: -13.5px;
    top: -11.165px;
}
.Path_294 {
    overflow: visible;
    position: absolute;
    width: 9.771px;
    height: 14.454px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#next {
    position: absolute;
    width: 7.57px;
    height: 12.934px;
    left: 740.067px;
    top: 88.165px;
    overflow: visible;
}
.Rectangle_156_A0_Rectangle_8 {
    display: none;
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
    left: -14.067px;
    top: -11.165px;
}
.Path_294_A0_Path_4 {
    overflow: visible;
    position: absolute;
    width: 9.775px;
    height: 14.454px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#January_A0_Group_48 {
    position: absolute;
    width: 329.548px;
    height: 309px;
    left: 402.265px;
    top: 82px;
    overflow: visible;
}
#February_2018 {
    position: absolute;
    left: 117.735px;
    top: 0px;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#days_A0_Group_49 {
    position: absolute;
    width: 329.548px;
    height: 30.567px;
    left: 0px;
    top: 50px;
    overflow: visible;
}
#Su_A0_Text_62 {
    position: absolute;
    left: 17.735px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Mo_A0_Text_63 {
    position: absolute;
    left: 61.735px;
    top: 0px;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Tu_A0_Text_64 {
    position: absolute;
    left: 112.735px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#We_A0_Text_65 {
    position: absolute;
    left: 157.735px;
    top: 0px;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Th_A0_Text_66 {
    position: absolute;
    left: 207.735px;
    top: 0px;
    overflow: visible;
    width: 19px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Fr_A0_Text_67 {
    position: absolute;
    left: 254.735px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
#Sa_A0_Text_68 {
    position: absolute;
    left: 298.735px;
    top: 0px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(163,166,180,1);
}
.Path_295_A0_Path_5 {
    overflow: visible;
    position: absolute;
    width: 329.548px;
    height: 1px;
    left: 0px;
    top: 30.567px;
    transform: matrix(1,0,0,1,0,0);
}
#date_A0_Group_50 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 207.735px;
    top: 100px;
    overflow: visible;
}
#ID1_A0_Text_69 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_51 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 254.735px;
    top: 100px;
    overflow: visible;
}
#ID2_A0_Text_70 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_52 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 301.735px;
    top: 100px;
    overflow: visible;
}
#ID3_A0_Text_71 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_53 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 66.735px;
    top: 147px;
    overflow: visible;
}
#ID5_A0_Text_72 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_54 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 19.735px;
    top: 147px;
    overflow: visible;
}
#ID4_A0_Text_73 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_55 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 113.735px;
    top: 147px;
    overflow: visible;
}
#ID6_A0_Text_74 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_56 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 160.735px;
    top: 147px;
    overflow: visible;
}
#ID7_A0_Text_75 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_57 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 207.735px;
    top: 147px;
    overflow: visible;
}
#ID8_A0_Text_76 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_58 {
    position: absolute;
    width: 8px;
    height: 21px;
    left: 254.735px;
    top: 147px;
    overflow: visible;
}
#ID9_A0_Text_77 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_59 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 298.735px;
    top: 147px;
    overflow: visible;
}
#ID10_A0_Text_78 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_60 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 63.735px;
    top: 194px;
    overflow: visible;
}
#ID12_A0_Text_79 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_61 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 63.735px;
    top: 241px;
    overflow: visible;
}
#ID19_A0_Text_80 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_62 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 63.735px;
    top: 288px;
    overflow: visible;
}
#ID26_A0_Text_81 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_63 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 16.735px;
    top: 194px;
    overflow: visible;
}
#ID11_A0_Text_82 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_64 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 16.735px;
    top: 241px;
    overflow: visible;
}
#ID18_A0_Text_83 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_65 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 16.735px;
    top: 288px;
    overflow: visible;
}
#ID25_A0_Text_84 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_66 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 110.735px;
    top: 194px;
    overflow: visible;
}
#ID13_A0_Text_85 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_67 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 110.735px;
    top: 241px;
    overflow: visible;
}
#ID20_A0_Text_86 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_68 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 110.735px;
    top: 288px;
    overflow: visible;
}
#ID27_A0_Text_87 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_69 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 194px;
    overflow: visible;
}
#ID14_A0_Text_88 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_70 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 241px;
    overflow: visible;
}
#ID21_A0_Text_89 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_71 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 157.735px;
    top: 288px;
    overflow: visible;
}
#ID28_A0_Text_90 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_72 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 204.735px;
    top: 194px;
    overflow: visible;
}
#ID15_A0_Text_91 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_73 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 204.735px;
    top: 241px;
    overflow: visible;
}
#ID22_A0_Text_92 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_74 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 251.735px;
    top: 194px;
    overflow: visible;
}
#ID16_A0_Text_93 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_75 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 251.735px;
    top: 241px;
    overflow: visible;
}
#ID23_A0_Text_94 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_76 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 298.735px;
    top: 194px;
    overflow: visible;
}
#ID17_A0_Text_95 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#date_A0_Group_77 {
    position: absolute;
    width: 14px;
    height: 21px;
    left: 298.735px;
    top: 241px;
    overflow: visible;
}
#ID24_A0_Text_96 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#Pie_Chart__Percentage_ {
    position: absolute;
    width: 370px;
    height: 462px;
    left: 742px;
    top: 528px;
    overflow: visible;
}
.BG_A0_Rectangle_9 {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
    position: absolute;
    overflow: visible;
    width: 388px;
    height: 480px;
    left: 0px;
    top: 0px;
}
#Show_More_Link {
    position: absolute;
    left: 141px;
    top: 425px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(59,134,255,1);
}
.Divider {
    position: absolute;
    overflow: visible;
    width: 330px;
    height: 1px;
    left: 20px;
    top: 403px;
}
#Money_Saved {
    position: absolute;
    width: 103px;
    height: 46px;
    left: 236px;
    top: 318px;
    overflow: visible;
}
#_31_430 {
    opacity: 0.5;
    position: absolute;
    left: 20px;
    top: 28px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#Money_Saved_A0_Text_99 {
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
.Circle_Sign__Vivid_Purple_ {
    position: absolute;
    overflow: visible;
    width: 10px;
    height: 10px;
    left: 0px;
    top: 4px;
}
#Total_Spent {
    position: absolute;
    width: 91px;
    height: 46px;
    left: 20px;
    top: 318px;
    overflow: visible;
}
#_18_570 {
    opacity: 0.5;
    position: absolute;
    left: 20px;
    top: 28px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(77,79,92,1);
}
#Total_Spent_A0_Text_101 {
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
.Circle_Sign__Light_Purple_ {
    position: absolute;
    overflow: visible;
    width: 10px;
    height: 10px;
    left: 0px;
    top: 4px;
}
#Pie_Chart {
    position: absolute;
    width: 142px;
    height: 142px;
    left: 114px;
    top: 135px;
    overflow: visible;
}
#Pie_Chart_A0_Group_82 {
    position: absolute;
    width: 142px;
    height: 142px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#ID48__ {
    position: absolute;
    left: 55px;
    top: 46px;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    line-height: 28px;
    margin-top: -5px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(77,79,92,1);
}
.Divider_A0_Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 330px;
    height: 1px;
    left: 20px;
    top: 94px;
}
#Total_Budget {
    position: absolute;
    width: 330px;
    height: 21px;
    left: 20px;
    top: 55px;
    overflow: visible;
}
#_50_000 {
    position: absolute;
    left: 278px;
    top: 0px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: right;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(74,217,145,1);
}
#Total_Budget_A0_Text_104 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -5px;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(67,66,93,1);
}
#Money {
    position: absolute;
    left: 20px;
    top: 21px;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(77,79,92,1);
}